
#contries{
    display: flex;
    width: 100vw;
}

#it{
    display: flex;
    width: 50vw;
}

#aze{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

#green1{
    background-color: green;
    width: 33%;
    height: 100vh;
}
#white{
    background-color: whitesmoke;
    width: 33%;
    height: 100vh;
}
#red1{
    background-color: red;
    width: 33%;
    height: 100vh;
}


#blue{
    background-color: blue;
    width: 100%;
    height: 33.33vh;
}
#red2{
    background-color: red;
    width: 100%;
    height: 33.33vh;
}
#green2{
    background-color: green;
    width: 100%;
    height: 33.33vh;
}
