*{
    margin: 0;
    box-sizing: border-box;
}
#countries{
    display: flex;
    width: 100%;
}

#it{
    display: flex;
    width: 50%
}

#aze{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#green1{
    background-color: green;
    width: 33%;
    height: 100vh;
}
#white{
    background-color: whitesmoke;
    width: 33%;
    height: 100vh;
}
#red1{
    background-color: red;
    width: 33%;
    height: 100vh;
}


#blue{
    background-color: blue;
    width: 99%;
    height: 33.33vh;
}
#red2{
    background-color: red;
    width: 99%;
    height: 33.33vh;
}
#green2{
    background-color: green;
    width: 99%;
    height: 33.33vh;
}
